/* Note: The !important; command increases the priority, so that the attribute isn't overwritten */

/* Sometimes changes aren't reflected when you RunApp. Choose to View in Browser and changes should be shown

/* Set Colours Here
Note: colour variable names must be proceeded by two dashes
These colours are taken https://www.canva.com/learn/100-color-combinations/
Current Colour Scheme:Understated and Versatile */

/*    --main-text-colour: #2D3033;
 --input-text-colour: #335252; */

:root {
  --main-bg-colour: #D4DDE1;
  --main-text-colour: #2D3033;
  --input-text-colour: #335252;
  --highlight-text-colour: #AA4B41;
  --btn-background-colour: #335252;
  --btn-text-colour: white;
  --help-text-colour: #AA4B41;
}


/* Set font size - may need to change for lecturing */
body {
  font-size: 100%;
}
p,li, learnR,.r {
  font-size: 1.7em;
}


/* This controls the background colour of the input box on the right */
.narbar{
  padding: 0 !important;
}
.navbar-default {
    background-color: var(--main-bg-colour) !important;
    height: 40px !important;
}

.navbar-default:hover {
    background-color: var(--main-bg-colour) !important;
}
.navbar-brand{
  color: var(--input-text-colour) !important;
}


/* Background colour of the input box on the right */
.well{
    background-color: var(--main-bg-colour) !important;
}

/* colour of the title */
h2, .h2{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15 !important;
  color: var(--input-text-colour) !important;
/*  text-transform: uppercase;
  text-align: center; */
}

/* colour of the line under the title */
h2::after{
content: " ";
display: block;
width: 100%;
height: 1px;
background: var(--highlight-text-colour) !important;
}

/* Button colours */
.btn-default{
  color: var(--btn-text-colour) !important;
  background-color: var(--input-text-colour) !important;
  border-color: var(--highlight-text-colour) !important;
}
.btn{
  color: var(--btn-text-colour) !important;
  background-color: var(--input-text-colour) !important;
  border-color: var(--highlight-text-colour) !important;
  padding: 5px;
}
/* Drop Down Box Colours */
.drop-down-input{
  color:var(--input-text-colour) !important;
}
.selectize-input{
  color:var(--main-text-colour) !important;
}


/* Checkboxes have highlight text colour */
.checkbox{
  color:var(--highlight-text-colour) !important;
}

/* Learning Tips */
/* Help Test Colours (text in the sidebar) */
#learning{
  background-color: var(--main-bg-colour) !important;
  color:var(--help-text-colour) !important;
  font-weight: bold;
}

/* Learn R Text */
.learnR{
  margin-top: 10px;
  background-color: var(--main-bg-colour) !important;
  color:var(--help-text-colour) !important;
  font-weight: bold;
  padding: 3px;
  border-color:var(--main-text-colour) ;
  border: 1px solid;
}

/* Pop up */
.modal-header{
  color:var(--highlight-text-colour) !important;
  border-bottom: 1px solid var(--main-bg-colour);
  padding: 10px;
}

.modal-footer{
  border-bottom: 1px solid var(--main-bg-colour);
}

.tutorial-question{
  padding: 0px !important;
}

/* Slider Bar Colour */
.irs-bar {
    border-top: 1px solid var(--main-text-colour) !important;
    border-bottom: 1px solid var(--main-text-colour) !important;
    background: var(--main-text-colour) !important;
}

.irs-from, .irs-to, .irs-single {
    color: var(--main-bg-colour);
    background: var(--main-text-colour);
}
.irs-bar-edge {
    border: 1px solid var(--main-text-colour) !important;
    background: var(--main-text-colour) !important;
}

.pre {
  padding: 2px;
}

/* Don't try to set this - it won't work properly!
.tutorial-exercise-output {
  max-height:300px;
}
*/

.nav-pills {
  background-color: var(--main-bg-colour) !important;
}

.a {
  color var(--main-text-colour) !important;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* This forces the left menu closed if you want to use the tutorial as lecture slides */
/* A better solution is to zoom in and go full screen */
/* @media screen and (max-width: 4000px) {
  .topics {
    width: 99%;
  }

  .topics .tutorialTitle {
    display: block;
    cursor: pointer;
  }

  .topicsContainer {
    width: 1%;
    min-width: 1px;
    margin-right: 0;
  }

  .topicsList {
    padding: 0px 10px 20px 1%;
    background-color: rgba(255, 255, 255, 0.98);

    box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.15);
  }

  .topicsList.hideFloating {
    display: none;
  }

  .paneCloser {
    display: inline-block;
  }
}
*/
